body {
    background-color: #f2f2f2;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.logo {
    width: 100%;
    height: 30%;
}

.login-background {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    max-width: 360px;
    background-color: white;
}

.container {
    height: 100% !important;
}

.glukose-main {
    background-color: #64e864;
}

.glukose-gray {
    background-color: #41c641;
}

.glukose-light {
    background-color: #a6f2a6;
}

.glukose-off {
    background-color: #e9ecef;
}

.loading-gif {
    height: 24px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.alert {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index:1000;
}

.loading-page {
    height: 15vh;
    margin-top: auto;
    margin-bottom: auto;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.sidebar-content {
    width: 250px;
}

.logout {
    font-size: 15px;
}

.sidebar-slide {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 100vh;
}

.hr-title {
    margin-top: 0px;
    margin-bottom: 10px;
}

.hr-light {
    margin: 0px;
}

.sidebar-logo {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.sidebar-title {
    font-size: 13px;
    font-weight: bold;
    cursor: default;
}

.sidebar-button {
    font-size: 18px;
    width: 100%;
    color: black;
    font-weight: 445;
}

.sidebar-button i {
    max-width: 28px;
    width: 15px;
    height: 15px;
    text-align: center;
    margin-right: 10px;
}

.sidebar-button:hover {
    border: 0;
    text-decoration: none;
    color: white;
}

.sidebar-button:focus {
    border: 0;
    text-decoration: none;
}

.footer {
    font-size: 14px;
    text-align: center;
}

@media screen and (max-device-width: 800px) {
    .sidebar-small {
        padding-left: 55px;
    }

    .content-padding {
        padding-left: 15px !important;
    }

    .cFrame {
        padding-top: 48px;
    }
}

@media screen and (min-device-width: 800px) {
    .content-padding {
        padding-left: 50px;
    }
}

.userinfo-panel {
    max-width: 500px;
    font-size: 14px;
}

.sugar-content {
    max-width: 1400px;
}

.record-header {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    cursor: default;
}

.record-panel {
    font-size: 1.3rem;
}

.record-panel input[type="number"] {
    font-size: 2rem !important;
    text-align: center; 
    height: auto;
}

.record-panel input[type="datetime-local"] {
    font-size: 1.4rem !important;
    height: auto !important;
}

.record-checkbox{
    transform: scale(1.4);
}

.cFrame-title {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 2rem;
}

.cFrame {
    box-shadow: 5px 10px 10px 10px #d5cfcf;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cFrame-content {
    background-color: white;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
input[type="date"] {
    background: transparent url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat !important;
    border: 0px;
    background-color: #fff;
    padding: 3px 5px;
    max-width: 210px;
    font-size: 2rem;
}

input[type="date"]:focus, input[type="date"]:active:focus, input[type="date"].active:focus{
    outline:none;
    box-shadow:none;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: transparent;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.stats-info {
    font-size: 1.2rem;
}

.stats-table th {
    font-size: 1.3rem;
}

td input[type="number"] {
    border: 0px;
    width: 50px;
    text-align: center;
    font-size: 1.2rem;
}