body {
    background-color: #f2f2f2;
    height: 100%;
}

.logo {
    width: 300px;
    height: 200px;
}

.login-panel {
    width: 360px;
}

.login-background {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
    background-color: white;
}

.container {
    height: 100% !important;
}

.glukose-main {
    background-color: #64e864;
}

.glukose-gray {
    background-color: #41c641;
}

.glukose-light {
    background-color: #a6f2a6;
}

.glukose-off {
    background-color: #f2f2f2;
}

.loading-gif {
    height: 24px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.alert {
    position: absolute;
    width: 100%;
    top: 0px;
}

.loading-page {
    height: 15vh;
    margin-top: auto;
    margin-bottom: auto;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.sidebar-content {
    width: 250px;
}

.logout {
    font-size: 15px;
}

.sidebar-button {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 100vh;
}

.sidebar-link {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    text-decoration: none !important;
    color: black;
    font-weight: 400;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: default;
}

.sidebar-link2 {
    display: block;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    text-decoration: none !important;
    color: black;
    font-size: 22px;
    cursor: default;
    font-weight: 400;
}

hr {
    margin: 4px;
}

.sidebar-title {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
}

.sidebar-logo {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.sidebar-group h4 {
    display: block;
    user-select: none;
}

.sidebar-group i {
    max-width: 28px;
    text-align: center;
    margin-right: 15px;
}

.sidebar-link:hover {
    border: 0;
    text-decoration: none;
}

.sidebar-link2:hover {
    border: 0;
    text-decoration: none;
}

.sidebar-link:focus {
    border: 0;
    text-decoration: none;
}

.footer {
    font-size: 14px;
    text-align: center;
}

@media screen and (max-device-width: 800px) {
    .sidebar-small {
        padding-left: 55px;
    }
}

.userinfo-panel {
    max-width: 500px;
    font-size: 22px;
}

.sugar-content {
    max-width: 1400px;
}