body {
    background-color: #f2f2f2;
    height: 100%;
}

.logo {
    width: 300px;
    height: 200px;
}

.login-panel {
    width: 360px;
}

.login-background {
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}

.container {
    height: 100% !important;
}

.glukose-green {
    background-color: #64e864;
}

.loading-gif {
    height: 24px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.alert {
    position: absolute;
    width: 100%;
    top: 0px;
}

.loading-page {
    height: 15vh;
    margin-top: auto;
    margin-bottom: auto;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}